[Unit]
Description=To get the UPS data via USB for Home Logic
After=syslog.target network.target mosquitto.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/scripts/python/upsread/upsread.py
User=root
Restart=always
RestartSec=2s

[Install]
WantedBy=multi-user.target
